@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}


<div class="box box-info">
    <div class="box-header with-border">
        <div class="box-footer clearfix">
            <a href="/Admin/Factors/Index" class="btn btn-sm btn-info btn-flat pull-left">بازگشت</a>
            <button onclick="printPage()" class="btn btn-sm btn-success btn-flat pull-left">چاپ صفحه</button>
        </div>
        <h3 class="box-title">مشخصات</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <span>خریدار : </span>
                <span name="name" type="text" id="aaa">
                   @ViewBag.Data.Buyer
                </span>
            </div>
            <div class="col-md-4">
                <span>موبایل : </span>
                <span name="name" type="text" id="">
                    @ViewBag.Data.Mobile
                </span>
            </div>
            <div class="col-md-4">
                <span>تاریخ : </span>
                <span name="name" type="text" id="">
                   @ShamsiDate.ToShamsi(ViewBag.Data.Date)
                </span>
            </div>
            <div class="col-md-12" style="margin-top:15px">
                <label style="text-align: justify">آدرس :@ViewBag.Data.Address</label>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>محصول</th>
                        <th>تعداد</th>
                        <th>قیمت واحد</th>
                        <th>قیمت کل آیتم</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in ViewBag.Data.FactorItems    )
                    {
                        <tr>
                            <td>
                                @detail.ProductName
                            </td>
                            <td>
                                @detail.Qty
                            </td>
                            <td>
                                @String.Format("{0:0,0}",detail.UnitPrice)
                            </td>
                            <td>
                                @String.Format("{0:0,0}",((detail.UnitPrice * detail.Qty)))
                            </td>
                        </tr>
                        }
                    <tr>
                        <td colspan="3"><b>جمع کل  </b></td>
                        <td><b>@String.Format("{0:0,0}",ViewBag.Data.TotalPrice)</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
</div>

@section footer
{
    <script>
function printPage() {

    window.print();
}
    </script>
}