
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-md-10  offset-md-1" style="text-align:center">
        <h4>پیش فاکتور</h4>
        <div style="text-align:right;direction:rtl">
            @RenderPage("~/Views/Errors/ShowErrors.cshtml")
        </div>
        <div style="text-align:right;direction:rtl;color:red">
@TempData["Errors"]
        </div>
            <form action="/Factor/Finalize" method="get">
                <div style="direction:rtl;margin-top:20px" class="form-inline">
                    <div class="form-group" style="direction:rtl;margin:10px">
                        <label for="exampleInputEmail1" style="float:right">نام دریافت کننده : </label>
                        <input name="Fullname" value="@ViewBag.User.Fullname" class="form-control">
                    </div>
                    <div class="form-group" style="direction:rtl;margin:10px">
                        <label for="exampleInputEmail1" style="float:right">تلفن ثابت : </label>
                        <input value="@ViewBag.User.PhoneNumber" name="PhoneNumber" class="form-control">
                    </div>
                    <div class="form-group" style="direction:rtl;margin:10px">
                        <label for="exampleInputEmail1" style="float:right">تلفن همراه : </label>
                        <input value="@ViewBag.User.Mobile" name="Mobile" class="form-control">
                    </div>
                    <div class="form-group" style="direction:rtl;margin:10px">
                        <label for="exampleInputEmail1" style="float:right">کدپستی : </label>
                        <input value="@ViewBag.User.PostalCode" name="PostalCode" class="form-control">
                    </div>
                </div>
                <div class="form-group" style="margin:10px">
                    <label for="exampleInputPassword1" style="float:right">آدرس</label>
                    <textarea name="Address" style="width:100%;height:100px">@ViewBag.User.Address</textarea>
                </div>

                @if (ViewBag.Order_Details != null)
            {
                    <div class="form-group" style="margin:10px">
                        <table class="table table-hover" style="direction:rtl">
                            <tr style="background-color:#e0e2dc">
                                <th>نام محصول</th>
                                <th>تعداد</th>
                                <th>رنگ</th>
                                <th>قیمت واحد</th>
                                <th>قیمت کل</th>
                            </tr>
                           
                                @foreach (var f in ViewBag.Order_Details)
                                {
                                    <tr>
                                        <td>
                                            @f.Product.Name
                                        </td>
                                        <td>
                                            @f.Qty
                                        </td>
                                        <td>
                                            @f.Color
                                        </td>
                                        <td>
                                            @string.Format("{0:0,0}", f.Product.Price - f.Product.Discount)
                                            &nbsp;
                                            تومان
                                        </td>
                                        <td>
                                            @string.Format("{0:0,0}", (f.Product.Price - f.Product.Discount) * f.Qty)
                                            &nbsp;
                                            تومان
                                        </td>
                                    </tr>
                                }
                           
                            
                        </table>
                    </div>



                    <div class="row" style="background-color:white;border:1px solid #e7e7e7;text-align:right;box-shadow:2px 3px #e7e7e7;margin-bottom:5px;padding:10px;direction:rtl;margin:10px">
                        <div class="col-md-6" style="text-align:right">
                            <span>هزینه ارسال</span>
                        </div>
                        <div class="col-md-6" style="text-align:left">
                                @string.Format("{0:0,0}", 15000)
                                تومان
                        </div>
                        <hr />
                        <div class="col-md-6" style="text-align:right">
                            <span>جمع کل</span>
                        </div>
                        <div class="col-md-6" style="text-align:left">
                            <b>
                                @string.Format("{0:0,0}", ViewBag.Order.ComputeTotalPrice()+15000)
                                تومان

                            </b>
                        </div>

                    </div>

                }

                <div style="margin-top:30px;text-align:center">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        پرداخت صورت حساب
                    </button>
                </div>
            </form>
        </div>

</div>